html {
    background: url(./images/Jungle-bi.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

:root {
    --jurassic-font: 'Jurassic Park', sans-serif;
    --jurassic-spacing: 0.3rem;
}

* {
    font-family: var(--jurassic-font);
    letter-spacing: normal;
    font-weight: normal;
}

h1 {
    font-family: var(--jurassic-font);
    font-size: 7rem;
    letter-spacing: var(--jurassic-spacing);
    font-weight: normal;
    font-style: normal;
    color: white;
    display: flex;
    justify-content: center;
    margin: 0;
}

.card {
    background-color: rgba(198, 255, 198, 0.776);
    border: 2px ridge darkgreen;
    border-radius: 0.5rem;
    padding: 0.5rem;
    max-width: 400px;
    margin: 0 auto;
    display: none;
}

.card-group {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.card-group>label {
    font-family: var(--jurassic-font);
    font-weight: normal;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    color: black;
}

.confirm-password-input:focus,
.password-input:focus {
    outline: none;
}

.card-group>input {
    border: 1px solid darkgreen;
    border-radius: .3rem;
    font-size: 1rem;
    padding: 0.3rem;
    font-family: 'Maitree', serif;
}

.card-group:last-child {
    margin: 0;
}

h2 {
    font-size: 3rem;
    margin: 0.1rem;
    margin-bottom: 0.8rem;
}


/*If the card has active as a class name then it will be visible*/

.card.active {
    display: block;
}

h4,
li {
    margin: -0.5rem;
    padding: 0;
    color: black;
    font-size: 1.3rem;
}

.or {
    list-style: none;
}

h4:first-of-type {
    margin: 0;
    margin-top: 0.3rem;
    margin-bottom: -1rem;
}

span {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3rem;
    color: darkred;
}

button {
    cursor: pointer;
    margin: 0.8rem;
    background-image: url('./images/jungle-button-bi.png');
    color: white;
    background-size: cover;
    box-shadow: 0px 0px 2px 2px lightseagreen;
    width: fit-content;
    height: fit-content;
    border-radius: 20%;
    padding: 9px;
    font-size: 2rem;
}

button:hover {
    color: greenyellow;
    transition: 0.5s;
    transform: scale(1.1);
    box-shadow: 0px 0px 2px 2px green;
}

.button-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}